.header {
    background: $off-black;
    color: white;
    margin-bottom: $xl-size;
    //first number is above below, second number is left and right
    padding: $m-size 0;
}

//BEM block element modifier - this tells us we're targeting a title inside of header, just a naming convention
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}